<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products List</title>
</head>
<body>
    <%- include('../partials/header') %>
        <h1>Products</h1>
        <% if (productos.length > 0) { %>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Price</th>
                    <th>Thumbnail</th>
                </tr>
                <% productos.forEach(p=>{%>
                    <tr>
                        <td><%= p.id %></td>
                        <td><%= p.nombre %></td>
                        <td><%= p.price %></td>
                        <td><img src=<%= p.thumbnail %> alt="" width="50px" height="50px"></td>
                    </tr>
                <%}) %>
            </table>
            <%} else { %>
            <p> No hay productos en la lista </p>
        <% } %>
        <%- include('../partials/footer') %>
</body>
</html>
