html 
    head 
        title="Welcome"
    body
        include ../partials/header.pug
        h1='HIIIIIIIIIIIII'
        h1='HIIIIIIIIIIIII'
        h1='HIIIIIIIIIIIII'
        h1='HIIIIIIIIIIIII'
        h1='HIIIIIIIIIIIII'
        include ../partials/footer.pug